/*------------------------------------------------------------
    breakpointを指定する時は、
    bootstrapで定義されているメディアクエリ用のmixinを使用する
    各breakpointの値は、_bootstrap-custom.scssで確認

    (min-width指定)
        @include media-breakpoint-up(sm) { ... }
        @include media-breakpoint-up(md) { ... }
        @include media-breakpoint-up(lg) { ... }
        @include media-breakpoint-up(xl) { ... }

    (max-width指定)
        @include media-breakpoint-down(xs) { ... }
        @include media-breakpoint-down(sm) { ... }
        @include media-breakpoint-down(md) { ... }
        @include media-breakpoint-down(lg) { ... }

    (only 特定の画面サイズに限定)
        @include media-breakpoint-only(xs) { ... }
        @include media-breakpoint-only(sm) { ... }
        @include media-breakpoint-only(md) { ... }
        @include media-breakpoint-only(lg) { ... }
        @include media-breakpoint-only(xl) { ... }

    (between ２つ以上のbreakpoint幅にまたがる場合)
        例：@include media-breakpoint-between(md, xl) { ... }

---------------------------------------------------------------*/

// font-awesome
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';

// bootstrap
@import 'partials/bootstrap-custom';
@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import '../../node_modules/bootstrap/scss/bootstrap-reboot.scss';

// button module
@import '../../node_modules/bootstrap/scss/buttons';

// utilitie  text
@import '../../node_modules/bootstrap/scss/utilities/text';

// variables・mixins
@import 'partials/variables';
@import 'partials/mixins';

// reset.css読み込み & _reboot.scssを上書き
@import 'partials/base';

// layout・module
@import 'partials/layout';
@import 'partials/module';
