.l-header {
  height: 150px;
  background-color: red;
  .inner {
    border: 1px solid #000;
    height: 100%;
  }
}

.l-contents {
}

.l-sidemenu {
  height: 500px;
  background-color: blue;
}

.l-footer {
  height: 150px;
  background-color: green;
  .inner {
    border: 1px solid #000;
    height: 100%;
  }
}
