// 汎用ボタンモジュール
.m-btn {
  @extend .btn;
  /*-------------------------------------------
   bootstrapのbuttonモジュールを継承  
   colorやborder、hover時の指定は.m-btn内で定義
  ---------------------------------------------*/
  &.color-type01 {
    background-color: $blue01;
    border-color: $blue01;
    color: $white01;
    &:hover {
      background-color: darken($blue01, 5%);
    }
  }
}

//商品リスト表示
.m-disp-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .item-box {
    background-color: $white01;
    padding: 8px;
    width: 49.5%;
    margin: 0 1% 1% 0;
    &:nth-child(2n) {
      margin-right: 0;
    }
    @include media-breakpoint-up(md) {
      width: 33%;
      margin: 0 0.5% 0.5% 0;
      &:nth-child(2n) {
        margin-right: 0.5%;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    .inner {
      @include font-size(11);
      line-height: 1.2;
    }
    .thumbnail {
      width: 100%;
      margin-bottom: 5px;
    }
    .product-name {
      margin-bottom: 5px;
    }
    .price {
      margin-bottom: 10px;
    }
  }
}
